@using Microsoft.AspNetCore.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
    <title>Converter</title>
</head>

<body>
<h1 class="title">- Integer to String Converter -</h1>
<form asp-controller="Converter" asp-action="ConvertNumber" method="post">
    <label class="objectiveText" for="number">Enter a number:</label>
        <input class="objectiveInput" type="number" id="number" name="number" required/>
    <button type="submit">Convert</button>
</form>
@if (ViewBag.Words != null)
{
    <h2 class="stringReturn"> @ViewBag.Words</h2>
}
</body>
<footer>
    <span>Background Image provided by Freepik</span>
</footer>